/* -- FONT GFENERAL -- */
@font-face {
    font-family: bernardo;
    src: url('fonts/bernardo.ttf') format('truetype'), url('fonts/bernardo.ttf') format('ttf');
}

@font-face {
    font-family: stop;
    src: url('fonts/stop.ttf') format('truetype'), url('fonts/stop.ttf') format('ttf');
}

@font-face {
    font-family: garet;
    src: url('fonts/garet.ttf') format('truetype'), url('fonts/garet.ttf') format('ttf');
}

@font-face {
    font-family: comforta;
    src: url('fonts/comforta.ttf') format('truetype'), url('fonts/name.ttf') format('ttf');
}
