@media only screen and (max-width: 997px) {

    .logo {
        float:none;
        margin:10px auto;
    }
    .nav {
        height:auto;
        float:none;
        margin:10px auto;
        text-align:center;
    }
    .navLink {
        width:100%;
        margin:10px auto;
    }

}