# Désactiver l'affichage du contenu des répertoires
Options -Indexes

# Autoriser l'accès aux fichiers images
<FilesMatch "\.(jpg|jpeg|png|gif|webp|svg)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Bloquer l'accès aux fichiers .htaccess
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

# Rediriger vers la page d'accueil si quelqu'un essaie d'accéder au répertoire
ErrorDocument 403 /index.html 