.env
.env.*
!.env.example
node_modules
.git
*.md
.DS_Store
._*
**/._*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.result.cache
